<div class="header-2">
  <div class="header-2__top-header">
    <div class="top-header__left-container">
      <p class="left-container__currency-converter">Currency: GBP</p>
    </div>
    <div class="top-header__right-container"></div>
  </div>
  <div class="header-2__bottom-header"></div>
</div>