/* Imported code from main-page.css and modified */

.page-title {
  margin-top: 0;
  margin-bottom: 0;
}

.page-width__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.page-width__banner > .page-width__banner-text {
  text-transform: uppercase;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  font-weight: bold;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title {
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-subtitle__content > .main-page-subtitle {
  text-align: center;
  color: white;
  font-size: 27px;
  margin-bottom: 0;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  margin: 0;
  margin-right: 15px;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}


/* ============================================= */

/* Constant styles */

.content-text__container-title { 
  text-transform: uppercase;
  color: #575153;
}

.content-text__container-subtitle {
  text-transform: uppercase;
  color: #4c4c4c;
}

.content-text__container-description {
  color: #727171;
  font-size: 12px;
}




/* Mobile Layout */

#item_1 { 
  margin-top: 50px;
}

.brand-page > .brand-page__content-mobile > .content-mobile__item {
  width: 100%;
}

.brand-page > .brand-page__content-mobile > .content-mobile__item > img {
  width: 100%;
  height: auto;
}

.brand-page > .brand-page__content-mobile > .content-text__container {
  padding: 10%;
}

.brand-page > .brand-page__content-mobile > #item_7 {
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.brand-page > .brand-page__content-mobile > #item_7 > img {
  width: 20%;
  height: auto;
}





@media screen and (min-width: 768px) {
  .brand-page > .brand-page__content-mobile {
    display: none;
  }
}