/* Imported code from main-page.css and modified */

.page-title {
  margin-top: 0;
  margin-bottom: 0;
}

.page-width__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.page-width__banner > .page-width__banner-text {
  text-transform: uppercase;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  font-weight: bold;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title {
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-subtitle__content > .main-page-subtitle {
  text-align: center;
  color: white;
  font-size: 27px;
  margin-bottom: 0;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  margin: 0;
  margin-right: 15px;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}


/* ============================================= */

.local-stores-page > .page-width__banner {
  height: 300px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.local-stores {
  background-color: #fff;
}

.local-stores > .stores {
  display: block;
  padding: 5%;
  padding-bottom: 20%;
}

.local-stores > .stores > .stores__store {
  display: block;
  text-align: left;
  margin: 10px;
  margin-top: 50px;
  height: 245px;
}

.stores__store-city {
  text-transform: uppercase;
  color: #575153;
}

.stores__store-address  {
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 12px;  
}

.stores__store-description {
  color: #727171;
  font-size: 12px;
}

.stores__store-bullet-point {
  color: #727171;
  font-size: 14px;
}

.stores__store-bullet-point > span {
  margin-right: 10px;
}

.local-stores > .stores > .stores__store > .view__button {
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #737373;
  color: #454647;  
  width: 175px;
  height: 45px;
  padding: 0;
  font-size: 12px;
  letter-spacing: 2.5px;
  margin-top: 10px;
  transition: 0.3s;

}

.local-stores > .stores > .stores__store > .view__button:hover {
  background-color: #00c8c8;
  color: white;
  border: 1px solid #00c8c8;
  cursor: pointer;
}

/* Location */

.local-stores > .location {
  width: 100%;
  background: #f8f8f8;
  margin-top: 5%;
}

.local-stores > .location > .location__content {
  display: none;
  justify-content: center;
}

.local-stores > .location > .location__content > .location__content-map {
  height: 300px;
}

.local-stores > .location > .location__content > .location__content-map > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.local-stores > .location > .location__content > .location__content-info {
  padding: 20px 30px 50px 30px;
}

.stores__store-social-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.stores__store-social-container > .stores__store-social-icon {
  width: 30px;
  height: 30px;
  background-color: #727272;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

.stores__store-social-container > .stores__store-social-icon > .svg-inline--fa {
  color: white;
}

@media screen and (min-width: 768px) {
  .local-stores {
    margin-top: 30px;
  }

  .local-stores > .stores {
    padding-top: 0;
    padding-bottom: 0;
  }

  .local-stores > .stores > .stores__store {
    width: 75%;
  }

  .local-stores > .location > .location__content > .location__content-map {
    height: auto;
  }

  .stores__store-social-container {
    justify-content: left;
  }

}

@media screen and (min-width: 1024px) {
  .local-stores-page > .page-width__banner {
    background-size: 100% auto;
  }

  .local-stores > .stores {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }  

  .local-stores > .stores > .stores__store {
    width: 80%;
    margin-top: 0;
  }

  .local-stores > .location > .location__content > .location__content-info {
    max-width: 33%;
  }


}


@media screen and (min-width: 1440px) {
  .local-stores-page > .page-width__banner {
    background-size: 100% 100%;
    height: 450px;
  }

  .local-stores > .stores {
    max-width: 65%;
    margin: 0 auto;
  }


}