/* Imported code from main-page.css and modified */

.page-title {
  margin-top: 0;
  margin-bottom: 0;
}

.page-width__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.page-width__banner > .page-width__banner-text {
  text-transform: uppercase;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  font-weight: bold;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title {
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-subtitle__content > .main-page-subtitle {
  text-align: center;
  color: white;
  font-size: 27px;
  margin-bottom: 0;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  margin: 0;
  margin-right: 15px;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}


/* ============================================= */

/* Constant styles */

.brand-page__content-desktop {
  display: none;
}

.content-text__container-title { 
  text-transform: uppercase;
  color: #575153;
}

.content-text__container-subtitle {
  text-transform: uppercase;
  color: #4c4c4c;
}

.content-text__container-description {
  color: #727171;
  font-size: 12px;
}




/* Mobile Layout */

#item_1_mobile { 
  margin-top: 50px;
}

.brand-page > .brand-page__content-mobile > .content-mobile__item {
  width: 100%;
}

.brand-page > .brand-page__content-mobile > .content-mobile__item > img {
  width: 100%;
  height: auto;
}

.brand-page > .brand-page__content-mobile > .content-text__container {
  padding: 10%;
}

.brand-page > .brand-page__content-mobile > #item_7_mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}

.brand-page > .brand-page__content-mobile > #item_7_mobile > img {
  width: 20%;
  height: auto;
}





@media screen and (min-width: 768px) {
  .brand-page > .brand-page__content-mobile {
    display: none;
  }

  .brand-page__content-desktop {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
  }

  .brand-page__content-desktop > .column {
    width: 50%;
    padding: 0 1.5%;
  }

  .brand-page__content-desktop > .column > .content-desktop__item {
    height: fit-content;
  }

  .brand-page__content-desktop > .column > .content-desktop__item > img {
    width: 100%;
    height: auto;
  }

  .content-text__container {
    text-align: left;
  }

  .content-text__container-title {
    font-size: 13px;
  }

  .content-text__container-description {
    line-height: 15px;
    font-size: 10px;
  }

  #item_1_desktop {
    margin-bottom: 10%;
  }

  #item_2_desktop {
    margin-top: 10%;
  }

  #item_2_desktop > .content-text__container-title {
    margin-bottom: 5%;
  }

  .content-text__container-subtitle {
    font-size: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #item_5_desktop {
    margin-top: 10%;
  }

  #item_7_desktop {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
  }

  #item_7_desktop > img {
    width: 25%;
  }


}

@media screen and (min-width: 1024px) {
  .left {
    padding-left: 0 !important;
  }

  .right {
    padding-right: 0 !important;
  }

  .content-text__container-title {
    font-size: 16px;
  }

  .content-text__container-subtitle {
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .content-text__container-description {
    line-height: 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
 .brand-page__content-desktop {
   width: 65%;
 }
}