/* Imported code from main-page.css and modified */

.page-title {
  margin-top: 0;
  margin-bottom: 0;
}

.page-width__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.page-width__banner > .page-width__banner-text {
  text-transform: uppercase;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  font-weight: bold;
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title {
  color: white;
}

.page-width__banner > .page-width__banner-text > .main-page-subtitle__content > .main-page-subtitle {
  text-align: center;
  color: white;
  font-size: 27px;
  margin-bottom: 0;
}

.page-width__banner > .page-width__banner-text > .main-page-title__content > .main-page-title__first-word {
  margin: 0;
  margin-right: 15px;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}


/* ============================================= */

.alternate-product__product {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.alternate-product__product-top-half {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-top-half__product-info {
  margin-left: 30px;
}

.product-info__heading-review-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.review-social__review {
  display: flex;
}

.review-social__review-stars {
  margin-left: 0 !important;
}

.review-social__review > * {
  margin: 0 10px;
}

.review-social__social > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.review-social__social > ul > li {
  list-style: none;
  margin: 0 15px;
}

.review-social__social > ul > li > .svg-inline--fa {
  transition: 0.3s;
}

.review-social__social > ul > li > .svg-inline--fa:hover {
  cursor: pointer;
  color: #00c8c8;
}

.review-social__social > ul > li:first-child {
  margin-right: 0 !important;
}

.review-social__review-add-review {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.review-social__review-add-review > span {
  display: flex;
  margin: 0 20px;
}

.review-social__review-add-review > span:first-child {
  margin-left: 0 !important;
}

.review-social__review-add-review > span:last-child {
  margin-right: 0 !important;
}

.review-social__review-add-review > p {
  transition: 0.3s;
}

.review-social__review-add-review > p:hover {
  cursor: pointer;
  color: #00c8c8;
}