.multi-collections-promo {
  background-color: transparent;
  margin: 0 5%;
  margin-top: -2.5%;
}

.multi-collections-promo > hr {
  background-color: #eeeeee;
}

.multi-collections-promo > .tab {
  overflow: hidden;
}

.multi-collections-promo > .tab > button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #727272;
  padding: 0 27px;
  font-weight: 600;
  transition: 0.2s;
}

.multi-collections-promo > .tab > button:first-child {
  padding-left: 0;
}

.multi-collections-promo > .tab > button:hover {
  color: #00c8c8;
  cursor: pointer;
}

.multi-collections-promo > .tab > button.active {
  color: #00c8c8;
}


.tabcontent__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.tabcontent__grid > .item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.tabcontent__grid > .item:nth-child(8) {
  grid-column-start: 1;
  grid-column-end: 4;
}


.tabcontent__grid-product {
  /* width: 420px;
  height: 500px; */
}

.tabcontent__grid-product > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabcontent__grid-promo {
  padding: 20px;
}

.tabcontent__grid-promo > img {
  margin-top: 25px;
  margin-left: -10px;
}

.tabcontent__grid-promo > h4 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #727272;
  font-size: 13px;
}

.tabcontent__grid-promo > p:first-child {
  margin-top: 0;
}

.tabcontent__grid-promo > p {
  color: #8e8c8c;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 35%;
  font-size: 13px;
}

.tabcontent__grid-promo > a > button {
  background-color: transparent;
  color: #454647;
  border: 2px solid #737373;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 18px 32px;
}

#promo-2 {
  display: flex;
}

#promo-2 > .item__left > img {
  margin-top: 50px;
}

#promo-2 > .item__left > h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #727272;
  font-size: 13px;
}

#promo-2 > .item__left > p {
  color: #8e8c8c;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 65%;
  font-size: 13px;
}

#promo-2 > .item__left > .terms {
  margin-top: 85px;
  margin-bottom: 0;
  width: 70%;
  font-size: 11px;
}

#promo-2 > .item__left > a > button {
  background-color: transparent;
  color: #454647;
  border: 2px solid #737373;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 18px 32px;
}

#promo-2 > .item__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#promo-2 > .item__right > img:first-child {
  margin-bottom: 30px;
}

#promo-2 > .item__right > img:nth-child(2) {
  margin-bottom: -50px;
}