.footer2 {
  background-color: #f8f8f8;
  padding-top: 52px;
}

.footer2 > .footer2__big-footer > .big-footer__top-half {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 50px;
  width: 60%;
  margin: 0 auto;
}

.footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu > .top-half__menu-title {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
}

.footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu > .top-half__menu-link {
  color: #727272;
  font-size: 12px;
  margin: 5px 0;
}

.footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu > a > .top-half__menu-link {
  color: #727272;
  font-size: 12px;
  margin: 5px 0;
}

.address {
  width: 180px;
}