.image__banner2-mobile > img, .image__banner2-desktop > img {
  width: 100%;
}

.image__banner2-desktop {
  display: none;
}

.image__banner2-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10rem;
}

.image__banner2-button > a > button {
  border: 1px solid #737373;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #f8f8f8;
}


/* Desktop */
@media screen and (min-width: 1024px) {
  .image__banner2-mobile {
    display: none;
  }

  .image__banner2-desktop {
    display: block;
  }

}