.multi-collections {
  background-color: transparent;
  margin: 0 5%;
}

.multi-collections > hr {
  background-color: #eeeeee;
}

.multi-collections > .tab {
  overflow: hidden;
}

.multi-collections > .tab > button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #727272;
  padding: 0 27px;
  font-weight: 600;
  transition: 0.2s;
}

.multi-collections > .tab > button:first-child {
  padding-left: 0;
}

.multi-collections > .tab > button:hover {
  color: #00c8c8;
  cursor: pointer;
}

.multi-collections > .tab > button.active {
  color: #00c8c8;
}

.multi-collections > .tabcontent__container > .tabcontent {
  display: none;
}

#Popular {
  display: flex !important;
  margin-top: 50px;
  width: 100%;
}

#Popular > .tabcontent__column-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

#Popular > .tabcontent__column-1 > .column-1__product {
  height: fit-content;
}

#Popular > .tabcontent__column-1 > .column-1__product > img {
  width: 100%;
  height: auto;
}

#Popular > .tabcontent__column-1 > .column-1__product:last-child {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

#Popular > .tabcontent__column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
}

#Popular > .tabcontent__column-2 > .column-2__product {
  height: fit-content;
}

#Popular > .tabcontent__column-2 > .column-2__product > img {
  width: 100%;
  height: auto;
}

#Popular > .tabcontent__column-2 > .column-2__product:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}