.footer2 {
  background-color: #f8f8f8;
  padding-top: 52px;
  margin-top: 150px;
}

.footer2 > .footer2__big-footer > .big-footer__top-half {
  display: block;
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu {
  margin-bottom: 50px;
}

.footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu > .top-half__menu-title {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
}

.footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu > .top-half__menu-link {
  color: #727272;
  font-size: 12px;
  /* margin: 5px 0; */
}

.footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu > a > .top-half__menu-link {
  color: #727272;
  font-size: 12px;
  /* margin: 5px 0; */
}

.address {
  width: 180px;
  margin: 0 auto;
}

.big-footer__bottom-half {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
}

.bottom-half__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 150px;
  text-align: center;
  background-color: #333333;
  color: white;
  margin: 0 auto;
  margin-bottom: 25px;
}

.bottom-half__banner > img {
  height: auto;
  width: 100%;
  padding: 0 3rem;
}

.bottom-half__social-media {
  width: 90%;
  height: 150px;
  background-color: #00c8c8;
  color: white;
  display: flex;
  margin: 0 auto;
}

.bottom-half__social-media > .social-media__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.bottom-half__social-media > .social-media__icons > .svg-inline--fa {
  margin: 0 auto;
}

.footer2__small-footer {
  background-color: #333333;
  color: #999999;
  font-size: 10px;
  padding: 10px 0;
  width: 100%;
}

.small-footer__content {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.small-footer__content > .small-footer__content-right-container {
  display: block;
}

@media screen and (min-width: 425px) {
  .footer2 > .footer2__big-footer > .big-footer__top-half {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu {
    width: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
  }

  .footer2 > .footer2__big-footer > .big-footer__top-half {
    padding-bottom: 0;
  }

  .bottom-half__banner, .bottom-half__social-media {
    width: 80%;
  }


  .small-footer__content {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .small-footer__content > .small-footer__content-right-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
  }


}

@media screen and (min-width: 500px) {
  .big-footer__bottom-half {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    align-items: center;
    padding-bottom: 56px;
  }

  .bottom-half__banner {
    width: 60%;
  }
  
  .bottom-half__social-media {
    width: 60%;
  }

  .small-footer__content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .small-footer__content > .small-footer__content-right-container {
    display: flex;
    width: fit-content;
  }

  .small-footer__content > .small-footer__content-right-container > .small-footer__content-design {
    margin-right: 25px;
  }


}

@media screen and (min-width: 700px) {
  .footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu {
    width: 25%;
    flex-grow: 1;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
  }
}


@media screen and (min-width: 768px) {
  .big-footer__bottom-half {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 56px;
  }

  .bottom-half__banner {
    width: 45%;
    margin-bottom: 0;
  }
  
  .bottom-half__social-media {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .footer2 > .footer2__big-footer > .big-footer__top-half {
    padding-right: 0;
    width: 80%;
  }

  .footer2 > .footer2__big-footer > .big-footer__top-half > .top-half__menu {
    width: fit-content;
    flex-grow: 1;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 50px;
  }

  .address {
    margin: 0;
  }

  .big-footer__bottom-half {
    width: 85%;
  }

  .bottom-half__banner > img {
    width: 65%;
  }

  .small-footer__content {
    width: 80%;
  }

}


@media screen and (min-width: 1440px) {
  .footer2 > .footer2__big-footer > .big-footer__top-half {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0;
    width: 65%;
    margin: 0 auto;
  }

  .footer2 > .footer2__big-footer > .big-footer__top-half {
    padding-right: 0px;    
  }

  .big-footer__bottom-half {
    width: 70%;
    margin: 0 auto;
  }

  .bottom-half__banner {
    width: 45%;
    margin: 0;
    margin-right: 30px;
  }
  
  .bottom-half__social-media {
    width: 45%;
    margin: 0;
  }

  .small-footer__content {
    width: 65%;
  }

}


@media screen and (min-width: 2500px) {
  .bottom-half__banner > img {
    width: 50%;
  }
}