.header2 {
  width: 100%;
}

.sidepanel {
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0;
  left: -100%;
  background-color: #333333;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: block;
  width: 250px; /* 0 width - change this with JavaScript */
  height: 100%;
  max-width: 300px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.sidepanel > .closebtn {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 35px;
  padding: 30px 20px;
  height: 35px;
}

.sidepanel > a {
  text-decoration: none;
  display: flex;
  padding: 8px 8px 8px 32px;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f8f8f8;
}

.header-2__mobile-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding-left: 5%;
}

.header-2__mobile-menu > .mobile-menu__content {
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  margin-left: 50px;
}

.header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-logo {
  margin-top: 10px;
}

.header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-logo > a > img {
  width: 50%;
}

/* .header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-hamburger-menu { 
  width: 35px;
  height: 35px;
  margin-right: 15px;
} */

.header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-hamburger-menu > button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-hamburger-menu > button > div {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.header-2__desktop-menu {
  display: none;
}

.header-2__top-header {
  /* height: 45px; */
  display: flex;
  justify-content: center;
}

.top-header__left-container, .top-header__right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.top-header__right-container > .right-container__account-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: 50px;
}

.top-header__right-container > .right-container__account-menu > li {
  padding: 0 15px;
}

.right-container__cart {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  height: fit-content;
  position: relative;
}

.right-container__cart-button > a {
  text-decoration: none;
  padding: 0 10px 0 20px;
}

.right-container__cart-button > .fa-cart-shopping {
  color: white;
}

.right-container__cart-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 3;
  background-color: white;
  width: 300px;
  padding: 15px;
}

.right-container__cart:hover .right-container__cart-dropdown {
  display: block;
}

.header-2__bottom-header {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.bottom-header__right-container {
  display: flex;
  align-items: center;
}

.bottom-header__right-container > nav {
  margin-top: 15px;
}

.bottom-header__right-container > nav > .menu {
  display: flex !important;
  justify-content: space-around;
  padding: 0;
}

.bottom-header__right-container > nav > .menu > li > .fa-angle-down {
  color: #333333;
}

.bottom-header__right-container > nav > .menu > li:hover .menu__name {
  color: #00c8c8;
}

.bottom-header__right-container > nav > .menu > li:hover  .fa-angle-down {
  color: #00c8c8;
}

.bottom-header__right-container > nav > .menu > li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-transform: uppercase;
}

.bottom-header__right-container > nav > .menu > li:hover {
  cursor: pointer;
}

.menu__name {
  color: black;
  text-decoration: none;
}

.menu__block {
  display: none;
  position: absolute;
  padding-top: 50px;
  z-index: 1;
}

.menu__block-wrapper {
  /* border: 1px solid black; */
  background-color: #f8f8f8;
  margin-top: 10px;
  padding: 10px;
  display: block;
  box-shadow: 5px 5px 10px rgba(162,162,162,0.64);
  -webkit-box-shadow: 5px 5px 10px rgba(162,162,162,0.64);
  -moz-box-shadow: 5px 5px 10px rgba(162,162,162,0.64);
}

.menu__block-list {
  display: flex;
  padding-left: 10px;
  margin-bottom: 30px;
}

.menu__block-promo {
  background-color: #333333;
  margin: 0 10px 10px 10px;
  padding: 25px 0px;
}

.menu__block-promo > h4 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.menu__block-promo > h4:first-child {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.menu__block-promo > h4:nth-child(2) {
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 0;
  padding-top: 0;
}

.bottom-header__right-container > nav > .menu > li:hover .menu__block {
  display: block;
}

.bottom-header__right-container > nav > .menu > li > .menu__block > .menu__block-wrapper > ul > li {
  padding: 10px 80px 10px 0px;
  list-style: none;
}

.bottom-header__right-container > nav > .menu > li > .menu__block > .menu__block-wrapper > ul > li > a {
  color: #3e393b;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom-header__right-container > nav > .menu > li > .menu__block > .menu__block-wrapper > ul > li > ul {
  padding-left: 0;
  padding-top: 20px;
}

.bottom-header__right-container > nav > .menu > li > .menu__block > .menu__block-wrapper > ul > li > ul > li {
  list-style: none;
  font-size: 13px;
  width: max-content;
  margin: 5px 0;
}

.bottom-header__right-container > nav > .menu > li > .menu__block > .menu__block-wrapper > ul > li > ul > li > a {
  text-decoration: none;
  color: black;
}



.bottom-header__right-container > .fg--search > input {
  height: 28px;
  border-radius: 0;
  border: 1px solid #c2c2c2;
  padding: 10px;
  margin-left: 80px;
  background-color: transparent;
}

.bottom-header__right-container > .fg--search > input:focus {
  outline: none;
  box-shadow: none;
}

.fg--search button {
  background: transparent;
  color: #989898;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  top: 13%;
  right: 13%;
  z-index: 2;
}

/* Mobile */

@media screen and (min-width: 375px) {
  .header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-logo {
    display: block;
  }

  .header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-logo > a > img {
    width: 60%;
  }

  .header-2__mobile-menu > .mobile-menu__content {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .header-2__mobile-menu > .mobile-menu__content {
    width: 70%;
    padding-left: 0;
  }

  .header-2__mobile-menu > .mobile-menu__content > .mobile-menu__content-logo > a > img {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .header-2__mobile-menu > .mobile-menu__content {
    width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .header-2__mobile-menu > .mobile-menu__content {
    width: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .header-2__mobile-menu {
    display: none;
  }

  .header-2__desktop-menu {
    display: initial;
  }
}